@import "~antd/dist/antd.less";
@import "./variables.less";

@primary-color: @color-primary;
@info-color: @ui-color-warning;
@success-color: @ui-color-positive;
@processing-color: @color-dark-grey;
@error-color: @ui-color-negative;
@highlight-color: @color-primary;
@warning-color: @ui-color-warning;
@normal-color: @color-light-grey;

// ---Borders
@border-radius-base: 0px;
@border-radius-sm: 0px;
@border-width-base: 2px;

// ---Slider
@slider-track-background-color: @primary-color;
@slider-track-background-color-hover: @primary-color;
@slider-handle-color: @primary-color;
@slider-handle-color-hover: @primary-color;

// ---Tooltip
@tooltip-color: @color-black;
@tooltip-bg: #fff;
@tooltip-max-width: 300px;

// ---Checkbox
@checkbox-size: 18px;

// ---Badge
@badge-dot-size: 9px;
@badge-status-size: 9px;

// ---Button
@btn-font-weight: 600;
@btn-hover-color: @primary-color;

// ---Collapse
@collapse-header-bg: @color-warm-grey;
@collapse-content-bg: @color-warm-grey;

// ---Menu
@menu-item-color: @color-primary;
@menu-item-height: 50px;
@menu-inline-toplevel-item-height: 50px;
